!!! 5
%html
  %head
    %title Latest Releases
  %body
    %h1 Latest Releases
    %table
      %thead
        %tr
          %th Repository
          %th Latest Release
          %th Tag
      %tbody
        - repositories.each do |repository|
          - next unless repository.released?
          %tr
            %td= repository.full_name
            %td
              %a{href: repository.latest_release.html_url}= repository.latest_release.name
            %td= repository.latest_release.tag
